name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
    - name: Install stable Rust and wasm-pack
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
        override: true
    - uses: jetli/wasm-pack-action@v0.3.0
    - name: Build Wasm package
      run: make build
    - name: Install website dependencies
      run: cd www && npm install
    - name: Install Playwright browsers
      run: cd www && npx playwright install --with-deps
    - name: Run tests
      run: cd www && npm test
