name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      uses: ./.github/actions/setup

    - name: Install stable Rust and wasm-pack
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
        override: true

    - name: Setup wasm-pack
      uses: jetli/wasm-pack-action@v0.3.0

    - name: Build
      run: pnpm build

    - name: Install Playwright browsers
      run: npx playwright install --with-deps

    - name: Run unit tests
      run: pnpm test

    - name: Run E2E tests
      run: |
        pnpm start > /dev/null 2>&1 &
        pnpm run test:e2e
